.cursor-pointer {
  cursor: pointer;
}
.dNone {
  text-decoration: 0 none;
}

.bg-gray {
  background-color: #eee;
}
.text-rose {
  color: #ff0077;
}
.bg-rose {
  background-color: #ff0077;
}
.bg-pink {
  background-color: #a600c7;
}
.btn-rose {
  background-color: #ff0066;
  color: white;
}
.text-pink {
  color: #a600c7;
}
.btn-pink {
  background-color: #a600c7;
  color: white;
}
.btn-rose:hover {
  background-color: #dd0055;
  color: white;
}
.btn-pink:hover {
  background-color: #8c00a8;
  color: white;
}
.hover-ty {
  transition: 0.25s;
}
.hover-ty:hover {
  transform: translateY(-10px);
}
.hover-scale {
  transition: 0.25s;
}
.hover-scale:hover {
  transform: scale(1.025);
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 40%;
}
.absolute-comment {
  position: absolute;
  left: 10%;
  top: -12%;
}
.pointer {
  cursor: pointer;
}
.hover-color {
  transition: 0.25s;
}
.hover-color:hover {
  color: #ff0077;
  transform: scale(1.05);
  transition: 0.25s;
}
#planB {
  transform: scale(1.1);
}
.bg-success-300 {
  background-color: rgb(185, 255, 232);
}
.text-success-700 {
  color: aquamarine;
}
.bg-rose-300 {
  background-color: #ffbbdb;
}
.hover-bg:hover {
  background-color: #fff;
  cursor: pointer;
}
.hover-ef {
  transition: 0.5s;
  font: 1.2em sans-serif;
}
.hover-ef:hover {
  transform: translateY(-3px);
  transition: 0.25s;
  cursor: pointer;
}
.slack {
  font: sans-serif;
}
.navbar-control {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#toTop {
  position: fixed;
  right: 7.5%;
  bottom: 10%;
  animation: bounceMe 2s infinite;
}

@keyframes bounceMe {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

#mainTheme {
  transition: 0.5s;
}

/* slick  */
.slick-prev::before {
  content: "\2039";
  font-size: 3rem;
  font-family: "Font Awesome 6 Pro";
  color: var(--pdf-rose-600);
}
.slick-next::before {
  content: "\203a";
  font-size: 3rem;
  font-family: "Font Awesome 6 Pro";
  color: var(--pdf-rose-600);
}

/* loading page  */
.loading {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
